.timeline {
    font-family: "Nunito", sans-serif;
    padding: 20px;
}
  
.timeline-section {
    margin-bottom: 30px;
}
  
.timeline-section h2 {
    font-size: 24px;
    color: pink;
    margin-bottom: 10px;
}
  
.timeline-item {
    border-left: 4px solid pink;
    padding-left: 20px;
    margin-bottom: 20px;
    position: relative;
}
  
.timeline-item .year {
    font-size: 14px;
    color: gray;
}
  
.timeline-item h3 {
    font-size: 18px;
    margin: 5px 0;
}
  
.timeline-item p {
    font-size: 14px;
    color: #555;
}
  
.timeline-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.timeline-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.timeline-item:hover .year {
    font-weight: bold; 
    color: #ff0088; 
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.timeline-item:hover h3 {
    color: #db7093; 
    font-size: 20px; 
    transition: color 0.3s ease, font-size 0.3s ease;
}

.timeline-item:hover p {
    color: #696969; 
    transition: color 0.3s ease;
}