.home-section {
    margin-left: 50px;
    background: url(../assets/WhatsApp_Image_2025-03-25_at_11.00.22_bdcb922a-removebg-preview.png) no-repeat right;
}

.logo-text-container {
    display: flex;
    align-items: center;
}

.logo-text-container img {
    width: 60px;
    height: 60px;
}

.logo-text-container h1 {
    font-family: "Dancing Script", cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.home-header {
    display: flex;
    justify-content: space-between;
}

.home-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.home-nav {
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-family: "Nunito", sans-serif;
}

.home-nav ul li a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.home-nav ul li a:hover {
    color: white; 
    background-color: rgba(255, 192, 203, 0.6);
}

.home-description {
    margin-top: 30px;
    margin-left: 10px;
}

.home-desc-text {
    font-family: "Nunito", sans-serif;
}

.home-description span {
    color: #FF5876;
}

.home-desc-text-1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
}

.home-desc-text-2 {
    margin-top: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

.home-button {
    margin-top: 20px;
}

.home-button button {
    background-color: #FF5876;
    border-radius: 10px;
    padding: 15px;
    border: none;
    color: white;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.home-button button:hover {
    transform: scale(0.9); 
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
}